body{
background: 000000;
}

#main_page{
margin: auto;
border: 4px;
padding: 10px/10px 20px/20px;
width: 80%;
text-align:center;

float:right;
}

#sidebar{
margin: auto;
border: 4px;
padding: 10px/10px 20px/20px;
width: 20%;
text-align:left;

float:left;
}



#lower_main{
margin: auto;
border: 4px;
padding: 10px/10px 20px/20px;
width:80%;
text-align:center;

float: center;
clear:both;
}

p{ 
font-family: "Calibri";
color: "grey"; 
}

table{
width:100%;
}

#footer{
font-size: 80%;
clear:both;
}

a:link	{color:#0C9EED;} 
a:visited{color:#00FF00;} 
a:hover	{color:#BEDDED;} 
a:active{color:#0000FF;}